# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
example/.vs/example/FileContentIndex/3e2707bd-2c23-43fb-a618-1a4a33917e0b.vsidx
example/.vs/example/v17/.suo
example/.vs/example/v17/Browse.VC.db
example/.vs/example/v17/Browse.VC.db-shm
example/.vs/example/v17/Browse.VC.db-wal
example/.vs/example/v17/Browse.VC.opendb
example/.vs/example/v17/ipch/AutoPCH/2305a5553ce59a41/OFMATH.ipch
example/.vs/example/v17/ipch/AutoPCH/90a493cea0ec10fb/OFAPP.ipch
example/.vs/example/v17/ipch/AutoPCH/ecbff9845a8b3473/OFXFPS.ipch
example/.vs/example/v17/Solution.VC.db
example/.vs/example/v17/Solution.VC.db-shm
example/.vs/example/v17/Solution.VC.db-wal
example/bin/example_debug.pdb
example/example.vcxproj
example/example.sln
example/example.vcxproj.filters
example/example.vcxproj.user
example/icon.rc
example/obj/x64/Debug/example.log
example/obj/x64/Debug/example.tlog/CL.command.1.tlog
example/obj/x64/Debug/example.tlog/Cl.items.tlog
example/obj/x64/Debug/example.tlog/CL.read.1.tlog
example/obj/x64/Debug/example.tlog/CL.write.1.tlog
example/obj/x64/Debug/example_debug.exe.recipe
example/obj/x64/Debug/example.tlog/rc.write.1.tlog
example/obj/x64/Debug/example.tlog/rc.read.1.tlog
example/obj/x64/Debug/example.tlog/rc.command.1.tlog
example/obj/x64/Debug/example.tlog/link.write.1.tlog
example/obj/x64/Debug/example.tlog/link.read.1.tlog
example/obj/x64/Debug/example.tlog/link.command.1.tlog
example/obj/x64/Debug/example.tlog/example.lastbuildstate
example/obj/x64/Debug/icon.res
example/obj/x64/Debug/vc143.pdb
